*{
    padding: 0px;
    margin: 0px;
}
#advertising{
    
   
    width: 60%;
    height: 100px;
    margin: auto;
    margin-top: 20px;
}
#advertising>img{
    width: 100%;
    height: 100%;
}
#front_news{
    width: 90%;
   
    margin: auto;
    height: 600px;
    margin-top: 20px;
    display:flex ;
    justify-content: space-between;
}
#trending{
    
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#top_stories{
    
    width: 20%;
    height: 100%;
    overflow:scroll;
}
#advertising_oponion{
    
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
#trending1{
    
    width: 100%;
    height: 60%;
}
#trending1>img{
    width: 100%;
    height: 80%;
}
#trending1>h3{
    width: 100%;
    height: 20%;
    object-fit: cover;
}
#trending2{
    
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: space-between;
}
#trending2-1{
    
    width: 49%;
    height: 100%;
}
#trending2-1>img{
    width: 100%;
    height: 80%;
}
#trending2-1>h3{
    width: 100%;
    height: 19%;
    overflow: hidden;
}
#trending2-2>img{
    
    width: 100%;
    height: 70%;
} 
#trending2-2>h3{
    width: 90%;
    height: 20%;
    overflow: hidden;
}
#trending2-2{
   
    width: 49%;
    height: 100%;
}
#add{
   
    width: 100%;
    height: 49%;
}
#add>img{
    width: 100%;
    height: 80%; 
}
#add>h3{
    width: 90%;
    height: 20%;
    overflow: hidden;
}
#opinion{
   
    width: 100%;
    height: 49%;
    overflow: scroll;
}
#opinion>img{
    width: 100%;
    height: 80%; 
}
#opinion>h3{
    width: 90%;
    height: 20%;
    overflow: hidden;
}
#visual_special{
width: 90%;
height: 200px;
margin: auto;
display: flex;
}
#visual_stories{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    width:60%;
    height: 200px;
    border: 1px solid green;
    display: flex;
    justify-content: space-around;
   flex-wrap: wrap;
    overflow: scroll;
    scroll-margin-inline: 10px;
    
   
}
#visual_stories>div{
    width: 200px;
    height: 200px;
}
#visual_stories>div>img{
    width: 100%;
    height: 80%;
    margin-bottom: 10px;
}
#visual_stories>div>h3{
    width: 100%;
    height: 19%;
    overflow: hidden;
}
#today_special{
   
    width: 35%;
    height: 100%;
    margin-left: 10px;
    margin-top: 50px;
    overflow: scroll;
}
#today_special>div>img{
    width: 100%;
    height: 80%;
}
#today_special>div>h3{
    width: 100%;
    overflow: hidden;
}
#movie_lifestyle_sports{
    margin-top: 100px;
  display: flex;
  width: 100%;
  height: 450px;
 
  justify-content: space-between;
   
}
#movie_lifestyle_sports>div{
    width: 30%;
    height: 100%;
   
}

#podcast_trend_india{
    margin-top: 100px;
  display: flex;
  width: 100%;
  height: 450px;
 
  justify-content: space-between;
   
}
#podcast_trend_india>div{
    width: 30%;
    height: 100%;
   
}
#SCIENCE_TECHNOLOGY_PROGRAMME{
    margin-top: 100px;
  display: flex;
  width: 100%;
  height: 450px;
  
  justify-content: space-between;
   
}
#SCIENCE_TECHNOLOGY_PROGRAMME>div{
    width: 30%;
    height: 100%;
   
}
#BUSINESS_TELEVISION_NEWSANALYSIS{
    margin-top: 100px;
  display: flex;
  width: 100%;
  height: 450px;
 
  justify-content: space-between;
   
}
#BUSINESS_TELEVISION_NEWSANALYSIS>div{
    width: 30%;
    height: 100%;
   
}
#AUTO_EDUCATIONTODAY_CITIES{
    margin-top: 100px;
  display: flex;
  width: 100%;
  height: 450px;
 
  justify-content: space-between;
   
}
#AUTO_EDUCATIONTODAY_CITIES>div{
    width: 30%;
    height: 100%;
    
}
#HEALTH_WORLD_INDIATODAYINSIGHT{
    margin-top: 100px;
  display: flex;
  width: 100%;
  height: 450px;
  
  justify-content: space-between;
   
}
#HEALTH_WORLD_INDIATODAYINSIGHT>div{
    width: 30%;
    height: 100%;
    
}
#LAW_CRIME_FACTCHECK{
    margin-top: 100px;
  display: flex;
  width: 100%;
  height: 450px;
  
  justify-content: space-between;
   
}
#LAW_CRIME_FACTCHECK>div{
    width: 30%;
    height: 100%;
    
}
.same>img{
    margin-top: 10px;
    width: 100%;
    height: 60%;
}
.same>h3{
    width: 100%;
    height: 10%;
    overflow: hidden;
    
}